image: openjdk:8-jdk

stages:
  - build
  - deploy

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - apt update && apt install gettext-base


###################
# Build
###################
build-jar:
  stage: build
  variables:
    VERSION: build
  script:
    - envsubst '${VERSION}' < build.gradle > build.gradle.new
    - mv build.gradle.new build.gradle
    - mkdir .gradle
    - echo "$GRADLE_PROPERTIES" > $GRADLE_USER_HOME/gradle.properties
    - ./gradlew assemble
  except:
    - tags


###################
# Deploy
###################
deploy-jar:
  stage: deploy
  script:
    - VERSION=$(echo ${CI_COMMIT_REF_NAME} | sed "s/v//")
    - export VERSION=$VERSION
    - envsubst '${VERSION}' < build.gradle > build.gradle.new
    - mv build.gradle.new build.gradle
    - mkdir .gradle
    - echo "$GPG_KEY_PRIVATE" > private.key
    - gpg --import private.key
    - gpg --export-secret-keys -o secring.gpg
    - echo "$GRADLE_PROPERTIES" > $GRADLE_USER_HOME/gradle.properties
    - ./gradlew -Psign uploadArchives
    - ./gradlew closeAndReleaseRepository
  only:
    - tags